[RISCOF]
ReferencePlugin=spike_parallel
ReferencePluginPath=$RV_ROOT/verification/riscof/spike_parallel
DUTPlugin=veer_eh1_fpu
DUTPluginPath=$RV_ROOT/verification/riscof/veer_eh1_fpu

[veer_eh1_fpu]
pluginpath=$RV_ROOT/verification/riscof/veer_eh1_fpu
ispec=$RV_ROOT/verification/riscof/veer_eh1_fpu/veer_eh1_fpu_isa.yaml
pspec=$RV_ROOT/verification/riscof/veer_eh1_fpu/veer_eh1_fpu_platform.yaml
target_run=1
jobs=10
PATH=$RV_ROOT/../eh1-build/obj_dir/

[spike_parallel]
pluginpath=$RV_ROOT/verification/riscof/spike_parallel
ispec=$RV_ROOT/verification/riscof/spike_parallel/spike_parallel_isa.yaml
pspec=$RV_ROOT/verification/riscof/spike_parallel/spike_parallel_platform.yaml
jobs=10
